:root{
    --fondo1: #454E5F;
    --fondo-input: #ffffff;
    --placeholder: #939393;
    --boton1: #6EDA9E;
    --boton2: #56C6EC;
    --texto-boton: #ffffff;
    --textos: #a8a8a8;
    --tema: #ffffff;
}